.game {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 100px;
}

.roundMessage {
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.buttons button {
  flex-basis: 25%;
  padding: 2rem;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.playerScore, .computerScore {
  flex-basis: 30%;
  font-size: 1.5rem;
}